* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 0.5rem;
  background: #fff;
}

.header-center {
  width: 1.2rem;
  height: 100%;
  background: #ffffff;
  margin: 0 auto;
  display: flex;
}

.header-left {
  display: block;
  width: 0.59rem;
  height: 0.48rem;
  background: #ffffff;
  border-bottom: 0.02rem solid #f2595b;
  border-right: 0.01rem solid #f0f0f0;
  font-size: 0.15rem;
  color: #f46e6d;
  text-align: center;
  line-height: 0.48rem;
}

.header-right {
  display: block;
  width: 0.6rem;
  height: 0.48rem;
  background: #ffffff;
  font-size: 0.15rem;
  color: #121212;
  text-align: center;
  line-height: 0.48rem;
}

#wrapper {
  width: 100%;
  height: 0.4rem;
  border-bottom: 0.01rem solid #EBEBEB;
  overflow: hidden;
  background: #46b8da;
}

#scroller {
  width: 42rem;
  height: 100%;
  padding: 0 0.15rem;
  overflow: hidden;
  /*background: red;*/
}

#scroller > ul > li {
  width: auto;
  height: auto;
  font-size: 0.16rem;
  line-height: 0.4rem;
  color: #000;
  float: left;
  padding-right: 0.2rem;
}

#scroller li:last-child {
  padding-right: 0;
}

#scroller li.active {
  color: #F85959;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.main {
  width: 100%;
  height: 1.05rem;
  /*background: #000;*/
  border-bottom: 0.01rem solid #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.main-left {
  width: 2.45rem;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0.1rem;
}

.main-left-top {
  display: block;
  width: 1.3rem;
  height: 0.1rem;
  background: #ffffff;
  font-size: 0.1rem;
  color: #d4d4d4;
}

.main-left-center {
  display: block;
  width: 2.38rem;
  height: 0.38rem;
  background: #ffffff;
  font-size: 0.15rem;
  color: #1e1e1e;
}

.main-left-bottom {
  display: block;
  width: 1.9rem;
  height: 0.1rem;
  background: #ffffff;
  font-size: 0.05rem;
  color: #b2b2b2;
  padding-bottom: 0.1rem;
}

.main-right {
  width: 0.95rem;
  height: 0.92rem;
  background: #ffffff;
  padding-top: 0.13rem;
}

.tup {
  display: block;
  width: 0.76rem;
  height: 0.76rem;
  background: red;
}

.tup img {
  width: 100%;
  height: 100%;
  display: block;
}
