@charset "UTF-8";
@import url("base.css");
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent; }

header {
  width: 100%;
  margin: 0 auto;
  height: .5rem;
  border-bottom: 0.01rem solid #eee;
  background: #fff; }

.headerbox {
  width: 92%;
  margin: 0 auto; }

.back {
  display: block;
  width: .5rem;
  line-height: 0.5rem;
  color: #000;
  font-size: .3rem;
  font-family: "宋体"; }

main {
  width: 92%;
  height: auto;
  margin: 0 auto; }

h1 {
  width: 100%;
  font-size: .2rem;
  line-height: .3rem;
  text-align: center; }

.message {
  width: 100%;
  margin-top: .2rem;
  display: flex;
  justify-content: space-between; }

#from {
  font-size: .12rem;
  line-height: .12rem; }

#time {
  font-size: .12rem;
  line-height: .12rem; }

.article {
  height: auto;
  margin-top: .3rem;
  font-size: .14rem; }

.art_p {
  line-height: 0.24rem; }

.article .art_p {
  margin-bottom: .1rem; }

.article img {
  margin: .1rem auto;
  max-width: 100%; }

.zuti {
  width: 100%;
  height: 0.3rem;
  font-size: 0.14rem; }

.zuti li {
  float: left;
  margin-right: 0.2rem;
  border: 0.01rem solid indianred;
  padding: 0.05rem 0.05rem;
  border-radius: 10%; }

.footer {
  width: 100%;
  margin-top: 0.5rem; }

.ping {
  font-size: 0.14rem;
  margin-bottom: 0.1rem; }

.shiliu {
  width: 100%;
  height: 0.8rem;
  border-top: 0.01rem solid #ccc; }

.shiliu p {
  margin-left: 0.14rem;
  margin-right: 0.14rem;
  font-size: 0.12rem;
  color: #111;
  line-height: 0.20rem; }

.shiliu-box p {
  line-height: 0.3rem;
  font-size: 0.12rem;
  color: #111; }

.shiliu-box {
  width: 100%;
  height: 0.3rem;
  margin-left: 0.14rem;
  /* margin-right: 0.14rem; */ }

.shiliu img {
  display: block;
  width: 0.16rem;
  height: 0.16rem;
  float: left;
  margin-top: 0.04rem;
  margin-right: 0.04rem; }

.shiliu span {
  display: block;
  float: left;
  margin-left: 0.14rem;
  margin-top: -0.04rem;
  line-height: 0.3rem;
  font-size: 0.1rem;
  margin-right: 0.08rem;
  color: #3c3c3c; }
